@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* # Mobile
  only screen and (min-width: 480px)
  
  # Tablet
  only screen and (min-width: 768px) 
  
  # Desktop
  only screen and (min-width: 992px)
  
  # Huge
  only screen and (min-width: 1280px)  */

/* container */
.container {
  min-width: 1180px;
  max-width: 1180px;
  margin: 0 auto;
  transition: background-color 0.3s, color 0.3s;
}

.container.dark {
  background-color: black;
  color: antiquewhite;
}

.container.light {
  background-color: white;
  color: black;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size:50px;
  font-style:normal;
}

.rule {
  border-bottom: 1px solid gainsboro;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container {
    min-width: 680px;
    max-width: 680px;
  }
}

/* common */

a {
  color: #0094F5;
  text-decoration: none;
}

.muiIcons{
  cursor: pointer;
}

/* Navbar */

.Navbar {
  height: 100px;
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: center;
}

.Actions {
  display: flex;
  justify-content: space-around;
}

.actionImg {
  height: 30px;
  cursor: pointer;
}


/* Story Section */

.Story {
  display: flex;
  margin: 20px 0;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Story::-webkit-scrollbar {
  display: none;
}

.storyWrap {
  flex: 0 0 auto;
  /* Allow items to shrink and grow as needed */
  width: calc(20% - 10px);
  /* Adjust width to accommodate 5 stories with margin */
  margin-right: 10px;
  /* Add margin between stories */
  vertical-align: top;

  height: 190px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.liveStory img,
.storyWrap img,
.activeStory img,
.seenStory img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  padding: 3px;
}


.liveStory img {
  border: 3px solid red;
}

.activeStory img {
  border: 3px solid purple;
}

.seenStory img {
  border: 3px solid gray;
}

.liveButton button {
  background-image: linear-gradient(to right, #C7059A, #DD0E44);
  color: white;
  border: transparent;
  padding: 5px 8px;
  border-radius: 5px;
}

.addIcon {
  position: absolute;
  bottom: 40px;
  right: 35px;
  background-color: #0094F5;
  color: white;
  border-radius: 50%;
  border: 5px solid white;
  padding: 5px;
  cursor: pointer;
}

.liveButton {
  position: absolute;
  top: 135px;
  right: 90px;
}

@media screen and (max-width: 1024px) {


  .liveStory img,
  .storyWrap img,
  .activeStory img,
  .seenStory img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    padding: 3px;
  }


  .addIcon {
    position: absolute;
    bottom: 40px;
    right: 20px;
    background-color: #0094F5;
    color: white;
    border-radius: 50%;
    border: 5px solid white;
    padding: 5px;
    cursor: pointer;
  }

  .liveButton {
    position: absolute;
    top: 80px;
    right: 40px;
  }

  .storyWrap {
    height: 150px;
  }

}


/* content section */

.Content {
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProfileName {
  display: flex;
  align-items: center;
}

.contentImage {
  height: 80px;
  border-radius: 40px;
}

.contentPost {
  width: 100%;
  height: 100%;
}

.AllPostActions {
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.commonAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.postactions {
  height: 30px;
}

.postDetail {
  margin: 0px 20px;
}

.Mycomment {
  text-decoration: underline;
  margin: 0px 10px;
  color: gray;
}


/* CommemtSection */

.commentsContainer {
  max-height: 300px; /* Adjust this value to your desired height */
  overflow-y: auto;
}

.commentSection {
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr 20fr 1fr;
  align-items: center;

  
}

.commentMoment {
  display: flex;
  margin: 0px 0px 10px 70px;

}

/* Footer */
.Footer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.footerLogo {
  height: 30px;
}

.footerLogoProfile {
  height: 40px;
  border-radius: 20px;
}

.footerSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footerView {
  margin: 20px;
  height: 10px;
}